* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

#accordion {
  margin-bottom: 20px;
}
.accordion-section {
  border: 1px solid #ddd;
  margin-bottom: 1px;
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  padding: 10px;
  display: none;
}

.caret {
  transition: transform 0.3s;
}

.caret.rotate {
  transform: rotate(180deg);
}

.tab-header {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.tab-header button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.tab-header button.active {
  background-color: crimson;
  color: white;
}

.tab-content {
  padding: 10px;
  margin-top: 10px;
  display: none;
}

.tab-content.active {
  display: block;
}
